@model DDS.Models.Metodología

@{
<<<<<<< HEAD
    ViewBag.Title = "Agregar metodologia";
=======
    ViewBag.Title = "Agregar metodología";
>>>>>>> 49e3544e7a91a9f2f1a27766fb51651e09fd66de
}

<form method="POST" action="Procesar">
    <table style="margin: 0 auto">
        <tr>
            <td style="text-align:right">Nombre</td>
            <td style="padding-left:10px">
<<<<<<< HEAD
                <input style="margin: 0 auto" type="text" name="nombre" />
=======
                <input style="margin: 5px auto" type="text" name="nombre" />
>>>>>>> 49e3544e7a91a9f2f1a27766fb51651e09fd66de
            </td>
        </tr>
        <tr>
            <td style="text-align:right">Fórmula</td>
            <td style="padding-left:10px">
<<<<<<< HEAD
                <input style="margin: 0 auto" type="text" name="formula" />
=======
                <input style="margin: 5px auto" type="text" name="fórmula" />
            </td>
        </tr>
        <tr>
            <td style="text-align:right">¿Es histórico?</td>
            <td style="padding-left:10px">
                <input style="margin: 5px auto" type="checkbox" name="esHistórico" />
            </td>
        </tr>
        <tr>
            <td style="text-align:right">¿Es comparativo?</td>
            <td style="padding-left:10px">
                <input style="margin: 5px auto" type="checkbox" name="esComparativo" />
>>>>>>> 49e3544e7a91a9f2f1a27766fb51651e09fd66de
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Enviar" />
            </td>
        </tr>
    </table>
</form>